<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание статьи</title>
</head>

<body>
    <h2 class="main__title">Способы создания своей статьи</h2>
    <ul>
        <li>Ввести вручную</li> <a href="/writing" class="button">Перейти</a>
        <li>Парсинг</li> <a href="/parse" class="button">Перейти</a>
    </ul>
    <a href="/" class="button">Вернуться на главную</a>
</body>

</html>